In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import yfinance as yf

### Get data using yfinance

In [31]:
ticker_symbols = ['AAPL', 'GOOG', 'MSFT', 'AMZN']
start_date = '2019-01-01'
end_date = '2024-01-01'

In [32]:
historical_data = {}
for ticker_symbol in ticker_symbols:
    ticker = yf.Ticker(ticker_symbol)
    data = ticker.history(start=start_date, end=end_date)
    historical_data[ticker_symbol] = data

In [33]:
historical_data['AMZN']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-02 00:00:00-05:00,73.260002,77.667999,73.046501,76.956497,159662000,0.0,0.0
2019-01-03 00:00:00-05:00,76.000504,76.900002,74.855499,75.014000,139512000,0.0,0.0
2019-01-04 00:00:00-05:00,76.500000,79.699997,75.915497,78.769501,183652000,0.0,0.0
2019-01-07 00:00:00-05:00,80.115501,81.727997,79.459503,81.475502,159864000,0.0,0.0
2019-01-08 00:00:00-05:00,83.234497,83.830498,80.830498,82.829002,177628000,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,153.770004,154.350006,152.710007,153.419998,29480100,0.0,0.0
2023-12-26 00:00:00-05:00,153.559998,153.979996,153.029999,153.410004,25067200,0.0,0.0
2023-12-27 00:00:00-05:00,153.559998,154.779999,153.119995,153.339996,31434700,0.0,0.0
2023-12-28 00:00:00-05:00,153.720001,154.080002,152.949997,153.380005,27057000,0.0,0.0
2023-12-29 00:00:00-05:00,153.100006,153.889999,151.029999,151.940002,39789000,0.0,0.0

In [34]:
amzn_df = historical_data['AMZN']
amzn_df[amzn_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [35]:
amzn_df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.0,1258.000000
mean,127.676453,129.237913,126.017538,127.649705,7.577451e+07,0.0,0.015898
std,31.302898,31.588691,30.921004,31.209475,3.352033e+07,0.0,0.563884
min,73.260002,76.900002,73.046501,75.014000,1.762600e+07,0.0,0.000000
25%,95.602253,96.687374,94.459248,95.441999,5.333952e+07,0.0,0.000000
50%,127.369999,129.035004,125.350002,127.125000,6.636065e+07,0.0,0.000000
75%,158.346878,159.930752,156.224998,158.093746,8.853550e+07,0.0,0.000000
max,187.199997,188.654007,184.839493,186.570496,3.113460e+08,0.0,20.000000

In [36]:
amzn_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2019-01-02 00:00:00-05:00 to 2023-12-29 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1258 non-null   float64
 1   High          1258 non-null   float64
 2   Low           1258 non-null   float64
 3   Close         1258 non-null   float64
 4   Volume        1258 non-null   int64
 5   Dividends     1258 non-null   float64
 6   Stock Splits  1258 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

### Plot 4 graphs